<% include blocks/header.ejs %>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div id="main-content">

            </div>
            <!-- End Blog Post -->

            <!-- Pager -->
            <ul class="pager" style="display:none" >
                <div><img src="images/progress.gif" alt="Loading" width="150px" /></div>
            </ul>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Liên hệ</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li>Điện Thoại : 0933.649.647
                            </li>
                            <li>Email : contact.quoctuan@gmail.com
                            </li>
                            <li>Skype : online.quoctuan
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Thông tin khóa học</h4>
                <p align="justify">Chào mừng các bạn đến với khóa học lập trình NodeJS tại QuocTuan.Info.Đây là một Project thực tế trong khóa học lập trình NodeJS tại QuocTuan.Info.Hy vọng các thể vận dụng được toàn bộ kiến thực để làm Project này.</p>
            </div>

        </div>

    </div>
    <!-- /.row -->
<% include blocks/footer.ejs %>
