<% include blocks/header.ejs %>
<!-- Page Content -->
<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <form role="form" method="POST" action="">
            <h2>Đăng Bài</h2>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-sm-1 col-md-12">
                    <div class="form-group">
                        <input type="text" name="txtFullName" id="txtFullName" class="form-control input-lg" placeholder="Vui lòng nhập họ tên đầy đủ hoặc nickname" tabindex="1" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="txtVideo" id="Video" class="form-control input-lg" placeholder="Vui lòng nhập tiêu đề video" tabindex="2" required>
            </div>
            <div class="form-group">
                <input type="text" name="txtLink" id="txtLink" class="form-control input-lg" placeholder="Vui lòng nhập link Youtube" tabindex="3" required>
            </div>
            <div class="form-group">
                <input type="email" name="txtEmail" id="email" class="form-control input-lg" placeholder="Vui lòng nhập địa chỉ Email" tabindex="4" required>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                        <textarea name="txtIntro" class="form-control input-lg tinymce" rows="4" tabindex="5"></textarea>
                    </div>
                </div>
            </div>

            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-12"><input type="submit" value="Thêm" class="btn btn-primary btn-block btn-lg"></div>
            </div>
        </form>
    </div>
</div>
<!-- /.row -->
<% include blocks/footer.ejs %>
